<%
  load './demo/main.rb'
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="icon" href="./demo/fez.png">
  <link rel="stylesheet" href="./demo/main.css" />
  <link rel="stylesheet" href="./demo/hjs-theme.css" />
  <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
  <script src="./dist/fez.js"></script>
  <script>
    hljs.addPlugin(new CopyButtonPlugin({autohide: false}));
  </script>
  <script>
    function timeSince(date) {
        const now = new Date();
        const secondsPast = (now.getTime() - new Date(date).getTime()) / 1000;

        if (secondsPast < 60) {
            return `just now`;
        }
        if (secondsPast < 3600) { // less than 60 minutes
            const minutes = Math.floor(secondsPast / 60);
            return `${minutes} minute${minutes > 1 ? 's' : ''} ago`;
        }
        if (secondsPast < 86400) { // less than 24 hours
            const hours = Math.floor(secondsPast / 3600);
            return `${hours} hour${hours > 1 ? 's' : ''} ago`;
        }
        if (secondsPast < 2592000) { // less than 30 days
            const days = Math.floor(secondsPast / 86400);
            return `${days} day${days > 1 ? 's' : ''} ago`;
        }
        if (secondsPast < 31536000) { // less than 12 months
            const months = Math.floor(secondsPast / 2592000);
            return `${months} month${months > 1 ? 's' : ''} ago`;
        }
        const years = Math.floor(secondsPast / 31536000);
        return `${years} year${years > 1 ? 's' : ''} ago`;
    }

    window.L = console.log
</script>
</head>
<body>
  <img src="./demo/fez.png" style="height: 128px; float: right; margin-bottom: -100px;" />
  <h1>
    Fez demo components
    &sdot;
    <a target="playground" href="https://jsitor.com/QoResUvMc">playground</a>
    &sdot;
    <a target="repo" href="https://github.com/dux/fez">GitHub repo</a>
  </h1>

  <p>Fez was created by <a href="https://github.com/dux/">@dux</a> in 2024. Latest update was <script>document.write(timeSince('<%= `git log -1 --format=%cd`.chomp %>'))</script>.

  <%= fez('clock') %>
  <%= fez('todo') %>
  <%= fez('form') %>
  <%= fez('time') %>
  <%= fez('icon') %>
  <%= fez('pubsub') %>
  <%= fez('list') %>
  <%= fez('tabs') %>

  <template fez="app-editor">
    <script>
      getSource() {
        return this.codeNode.textContent
      }

      connect(props) {
        props.language ||= 'html'
        this.source = this.root.innerHTML
      }

      onMount() {
        this.codeNode = this.find('code')
        this.codeNode.innerHTML = this.source.trim()
        hljs.highlightElement(this.codeNode);
      }
    </script>

    <style>
      code {
        padding: 10px;
      }

      .hljs-copy-button {
        overflow: visible;
        left: -5px;
        top: 20px;
      }
    </style>

    <div class="relative">
      <pre>
        {{#if @props.file}}
          <div style="padding: 5px 0;">{{ @props.file }}</div>
        {{/if}}
        <code class="language-js" contenteditable="true"></code>
      </pre>
    </div>
  </template>

  <script>
    window.applyChanges = function(name) {
      Fez.loadTemplate(`ui-${name}`, Fez(`#code-ui-${name}`).getSource())

      $(`#body-${name}`).html( Fez(`#html-${name}`).getSource() )
    }
  </script>
</body>
</html>

